<a href="https://colab.research.google.com/github/laharesh/MLCSE305/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
print(2+3)
a=20
print(a)
print(type(a))
b="littu"
print(len(b))

5
20
<class 'int'>
5

In [8]:
x = 3
print (type(x)) 
print (x) 
print (x + 1 ) 
print (x - 1 ) 
print (x * 2) 
print (x ** 2) 
x += 1
print (x) 
x *= 2
print (x ) 
y = 2.5
print (type(y)) 
print (y, y + 1, y * 2, y ** 2)

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [11]:
str1="littu"
print(str1.capitalize())
print(str1.upper())
print(str1.lower())
print(str1.rjust(7))
print(str1.center(7))
print(str1.replace('t','kr'))
print('  laharesh   '.strip())

Littu
LITTU
littu
  littu
 littu
likrkru
laharesh

In [13]:
str1='BCT'
for i in str1:
  print(i + "ook")

Book
Cook
Took

In [27]:
a=[1,3,4,5,'littu','laharesh']
b=['littu','laharesh','hhhhh']
print(a)
for i in b:
  print("list:"+i)
print(a[-1])
print(a[:4])
print(a[::2])
print(b[::2])
print(b[:])
print('littu' in a)

[1, 3, 4, 5, 'littu', 'laharesh']
list:littu
list:laharesh
list:hhhhh
laharesh
[1, 3, 4, 5]
[1, 4, 'littu']
['littu', 'hhhhh']
['littu', 'laharesh', 'hhhhh']
True